@using Assignment.Models

@{
    ViewBag.Title = "ShowCart";
    var cart = ViewBag.shoppingCart as ShoppingCart;
}

<h2>ShowCart</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Action</th>
    </tr>
    @foreach (var cartItem in cart.GetCartItems())
    {
        <tr>
            
                <td>@cartItem.Value.ProductName</td>
                <td>
                    <input type="text" value="@cartItem.Value.Quantity" name="quantity" />
                    <input type="hidden" value="@cartItem.Value.ProductId" name="productId" />
                </td>
                <td>@cartItem.Value.UnitPrice</td>
                <td>
                    <input type="submit" value="Update" class="btn btn-primary" />
                    @Html.ActionLink("Remove", "RemoveCart", new { productId = cartItem.Value.ProductId }, new { @class = "btn btn-danger" })
                </td>

        </tr>
    }

</table>
<b>Total price: @cart.GetTotalPrice()</b>

@Html.ActionLink("Create Order", "CreateOrder", null, new { @class = "btn btn-success" })

